In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets

NameError: name 'datasets' is not defined

In [2]:
df = pd.DataFrame(iris['data'])
df.head()
iris = datasets.load_iris()
iris

NameError: name 'pd' is not defined

In [4]:
df[4] = iris['target']
df.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [5]:
# Adding column names
df.rename(columns = {0:'SepalLengthCm', 1:'SepalWidthCm', 2:'PetalLengthCm', 3:'PetalWidthCm', 4:'Species'}, inplace = True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [6]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm     Species
count     150.000000    150.000000     150.000000    150.000000  150.000000
mean        5.843333      3.057333       3.758000      1.199333    1.000000
std         0.828066      0.435866       1.765298      0.762238    0.819232
min         4.300000      2.000000       1.000000      0.100000    0.000000
25%         5.100000      2.800000       1.600000      0.300000    0.000000
50%         5.800000      3.000000       4.350000      1.300000    1.000000
75%         6.400000      3.300000       5.100000      1.800000    2.000000
max         7.900000      4.400000       6.900000      2.500000    2.000000

In [7]:
df.shape

(150, 5)

In [8]:
df.mean()  #mean

SepalLengthCm    5.843333
SepalWidthCm     3.057333
PetalLengthCm    3.758000
PetalWidthCm     1.199333
Species          1.000000
dtype: float64

In [ ]:
df.median() #median

SepalLengthCm    5.80
SepalWidthCm     3.00
PetalLengthCm    4.35
PetalWidthCm     1.30
Species          1.00
dtype: float64

In [ ]:
#MODE
# Calculated only for categorical data
df.Species.mode()

0    0
1    1
2    2
Name: Species, dtype: int64

In [11]:
df.groupby(['Species']).count()

         SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
0                   50            50             50            50
1                   50            50             50            50
2                   50            50             50            50

In [12]:
#STANDARD DEVIATION
df.SepalLengthCm.std()

np.float64(0.828066127977863)

In [13]:
df.SepalWidthCm.std()

np.float64(0.4358662849366982)

In [14]:
df.PetalLengthCm.std()

np.float64(1.7652982332594662)

In [15]:
df.PetalWidthCm.std()

np.float64(0.7622376689603465)